body {
    font-family: "Roboto", sans-serif;
}

h2 {
    position: relative;
    top: 190px;
    font-size: 25px;
    text-align: center;
}

p {
    display: block;
    position: relative;
    top: 370px;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
}

.bulgaria {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.bulgaria:hover {
    color: grey;
    text-decoration: none;
}

.fa-github {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    color: white;
}

.fa-envelope {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    color: white;
}
.githubtext {
    display: block;
    font-size: 21px;
    text-decoration: none;
    position: absolute;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
    color: white;
}
.emailtext {
    display: block;
    font-size: 21px;
    text-decoration: none;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    color: white;
}

.emojiemail:hover, .emojigit:hover {
    color: grey;
    text-decoration: none;
}

.emailtext:hover, .githubtext:hover {
    color: grey;
    text-decoration: none;
}

img {
    position: relative;
    top: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 190px;
    border-radius: 50%;
}


.line-anim-typewriter {
    color: white;
    font-size: 32px;
    font-weight: bold;
}